@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>
        This is the solution of Liam Knapp (student #8761110)
    </p>
   
    <!-- In your Home/Index.cshtml view or wherever you want to add the link -->
    <a asp-controller="Transaction" asp-action="List">All Transactions List</a>

</div>